<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>display_student</h1>
        <table border="2">
            <tr>
                <th>Sname</th>
                <th>Sage</th>
                <th>Sid</th>
                <th>Semail</th>
            </tr>
            {% for so in QSO %}
            <tr>
                <td>{{so.Sname}}</td>
                <td>{{so.Sage}}</td>
                <td>{{so.Sid}}</td>
                <td>{{so.Semail}}</td>
            </tr>
            {% endfor %}

        </table>
    </center>
</body>
</html>